@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Roboto:wght@300;400&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css);

:root {
    --montagu: 'Montagu Slab', serif;
    --montserrat: 'Montserrat', sans-serif;
    --roboto: 'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth; /* Scrollar com suavidade */
}

body{
    --vermelho: #cf261f;
}

body[data-tema='light']{
    --branco:#ffffff;
    --branco-opacidade:#ffffff77;
    --preto:#000000;
    --preto-opacidade:#00000077;
    --vermelho-escuro:#8f000c;
    --vermelho-claro:#efdfc5;
}

body[data-tema='dark']{

    --branco:#000000;
    --branco-opacidade:#00000077;
    --preto:#ffffff;
    --preto-opacidade:#ffffff77;
    --vermelho-escuro:#efdfc5;
    --vermelho-claro:#8f000c;
}

header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.bg-header{
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 95;
    background-color: var(--branco-opacidade);
}

.troca-tema{
    position: fixed;
    z-index: 98;
    right: 6rem;
    top: 1rem;
    cursor: pointer;
}

/* HAMBURGUER */
.hamburguer{
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    transition: all 1s;
}

.show-menu .hamburguer{
    right: 16rem;
}

.line{
    width: 100%;
    height: .1rem;
    background-color: #fff;
    box-shadow: 0.1rem 0.1rem 1px black;
    transition: all .5s;
}

.show-menu #line1{
    transform: rotate(45deg) translate(.1rem, .65rem);
    background-color: var(--preto);
    box-shadow: none;
}

.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}

.show-menu #line3{
    transform: rotate(-45deg) translate(.2rem, -.65rem);
    background-color: var(--preto);
    box-shadow: none;
}

.show-menu .hamburguer:hover span{
    opacity: 1;
}

/* SIDEBAR */
.sidebar{
    width: 100%;
    height: 100vh;
    background-color: var(--branco);
    position: fixed;
    top: 0;
    z-index: 99;
    right: -100%;
    transition: all 1s;
}

.show-menu .sidebar{
    right: 0rem;
}

.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.menu-item{
    text-align: center;
    margin-bottom: 1rem;
}

.menu-link{
    font-family: var(--montserrat);
    font-size: 1.5rem;
    color: gray;
    transition: .5s;
    text-transform: uppercase;
}

.menu-link:hover{
    color: var(--vermelho);
    text-decoration: underline;
}

.menu-link:active{
    color: purple;
}

.sidebar-membro{
    position: absolute;
    bottom: 6rem;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn-membro {
    height: 50px;
    border-radius: 15px;
    color: #FFFFFF;
    font-family: var(--montserrat);
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    background-color: #CF261F;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    border: 0;
}

.btn-membro:hover{
    animation: pula 1s;
    background-color: var(--vermelho-escuro);
    color: var(--vermelho-claro);
    transition: 1s;
}

@keyframes pula {
    0%, 20%, 60%, 100%{
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40%{
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    80%{
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

/* EFEITO PARA TODOS OS BOTÕES */
.efeito{
    border: none;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 400ms ease;
}

/* FOOTER */
footer{
    width: 100%;
    min-height: 50vh;
    padding: 0 20px;
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
}

.parte-cima{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-footer{
    width: 160px;
}

.mudacor-footer{
    color: var(--vermelho-escuro);
}

.footer-cadastro{
    display: flex;
    align-items: center;
    width: 100%; 
    font-size: 14px;
    font-family: var(--montserrat);
    color: var(--preto);
}

.mudacor-footer{
    transition: .5s;
}

.mudacor-footer:hover{
    cursor: pointer;
    color: var(--vermelho);
    text-decoration: underline;
}

.mudacor-footer:active{
    color: purple;
}

.footer-menu{
    display: block;
    margin-bottom: 30px;
}

.footer-menu > p{
    font-size: 14px;
    text-align: center;
    font-family: var(--montserrat);
    color: var(--preto);
    margin: 20px 10px;
}

.footer-menu > p > a{
    transition: .5s;
    color: var(--preto);
}

.tesoura{
    content: "";
    display: none;
    background-image: url(../imagens/icones/tesoura.png);
    background-size: 1rem;
    width: 1rem;
    height: 1rem;
}

.footer-menu > p > a:hover .tesoura{
    display: inline-block;
}

.footer-menu > p > a:hover{
    color: var(--vermelho);
    text-decoration: underline;
}

.footer-menu > p > a:active{
    color: purple;
}

.menu-lista{
    font-size: 24px;
    margin-bottom: 40px;
}

.footer-mapa > p{
    text-align: center;
    color: var(--preto);
    font-size: 14px;
    font-family: var(--montserrat);
    margin-bottom: 20px;
}

.footer-mapa{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.copyrigth{
    width: 100%;
    height: 10vh;
}

.copyrigth > p{
   text-align: center;
   font-family: var(--roboto);
   font-size: 12px;
   margin-top: 20px;
   color: var(--preto);
}

#link-topo{
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    width: 3rem;
    height: 3rem;
    background: #333333;
    background: -webkit-linear-gradient(to right, #dd1818, #333333); 
    background: linear-gradient(to right, #dd1818, #333333); 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    box-shadow: 0 0 .4rem .6rem #00000009;
}

@media screen and (min-width: 540px){
    .footer-cadastro{
        font-size: 18px;
    }

    .footer-menu > p{
        font-size: 18px;
    }
    
    .footer-mapa > p{
        font-size: 18px;
    }
    
    .sidebar{
        width: 20rem;
        height: 100vh;
        background-color: var(--branco);
        position: fixed;
        top: 0;
        z-index: 99;
        right: -20rem;
        transition: all 1s;
    }
}

@media screen and (min-width: 768px){
    .footer-menu{
        display: flex;
        align-items: center;
    }
}

@media screen and (min-width: 1200px){
    .parte-cima{
        flex-direction: row;
        justify-content: space-around;
    }

    .footer-cadastro{
        display: block;
        width: 22%; 
    }

    .footer-menu{
        display: block;
        margin-bottom: 0;
    }

    .footer-menu > p{
        margin: 20px 10px 0 10px;
    }
    
}