/*Celulares*/
@media(max-width: 480px){
    .div-logo h1{
        font-size: 25px;
        margin: 0;
        width: auto;
        padding: 0;
    }

    .div-logo{
        width: auto;
        padding: 0;
        margin-top: 55px;
    }
    .img-contato{
        width: 50px;
        height: 50px;
        margin: 20px;
    }

    .form-h2{
        font-size: 25px;

    }

    .form-h3{
        font-size: 20px;
    }

    label{
        font-size: 14px;
    }

  
    footer .parte-cima{
        flex-direction: column;
    }

    .footer-cadastro > p{
        font-size: 16px;
    }

    .logo-footer{
        width: 130px;
        height: 130px;
    }

   .menu-lista{
       font-size: 18px;
   }

   .footer-menu{
       padding-bottom: 30px;
   }
   .footer-menu > p a{
       font-size: 16px;
   }

   .footer-mapa > p{
       padding-bottom: 20px;
   }
}

/*Tablet*/
@media(max-width: 769px){
    .div-logo h1{
        margin-top: 60px;
        width: auto;
        padding: 0;
    }
    .img-contato{
        width: 80px;
        height: 80px;
        margin: 20px;
    }

    .inputs{
        margin-top: 50px;
    }

    label{
        font-size: 30px;
    }

    #botao-formulario{
        width: 300px;
        height: 50px;
        font-size: 20px;
        margin-top: 60px;
    }

    .footer-cadastro{
        width: 100%;
        max-width: 34%;
    }
    .footer-cadastro > p{
        font-size: 15px;
    }

    .logo-footer{
        width: 130px;
        height: 130px;
    }

    
   
    .footer-menu > p > a{
        margin-top: 50px;
    }

    .footer-mapa > p{
        margin-top: 20px;
        padding-bottom: 20px;
    }

    .footer-mapa iframe{
        width: 250px;
        height: 200px;
    }
    
}